body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}
#con-sub{
    width: 99vw;
    height: 99vh;
    display: none;
    overflow-x: hidden;
}
.back:hover{
    transition: 0.5s;
    transform: scale(1.2);
    color: rgba(128, 128, 128, 0.858);
}
.back{
    color: rgba(128, 128, 128, 0.758);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 4vh;
    padding-left: 3vw;
}
textarea{
    font-size: 4vh;
    width: 93vw;
    border:none;
    resize: none;
}
.ueberschrift{
    min-height: 10vh;
}
.eingabe{
    min-height: 78vh;
}
.txts{
    display: grid;
    align-items: center;
    justify-content: center;
}

.add{
    position:fixed;
    float: right;
    bottom: 5vh;
    right: 3vh;
    background-color: rgba(255, 166, 0, 0.717);
    padding: 3vh;
    border-radius: 50%;
    z-index: 1;
}
.add:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.choose{
    display: grid;
    position: relative;
    height: 3vh;
    margin: 1vh;
}
.choose span{
    position: relative;
    margin: -1vh;
}
.options{
    position: absolute;
    top: 1vh;
    right: 1vw;
    float: right;
}
.home{
    display: grid;
    align-items: center;
    justify-content: center;
}
.task{
    position: relative;
    width: 92vw;
    min-height: 30vh;
    background-color: rgba(128, 128, 128, 0.708);
    padding: 2vh 2vw;
    margin-top: 2vh;
    border-radius: 2vh;
}
.available-option{
    background-color: rgb(128, 128, 128);
    display: none;
}
.close{
    display: none;
    position: relative;
    right: -4.5vh;
    margin: 1vh;
}