:root {
    --main-color: rgba(128, 128, 128, 0.858);
    --main-font-color: #f3f3f3;
    --secondary-color: rgba(183, 173, 173, 0.749);
  }

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--main-font-color);
}
#con-sub{
    width: 100vw;
    height: 99vh;
    display: none;
    overflow: hidden;
}
.back:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.back{
    color: var(--main-font-color);
    background-color: rgba(255, 0, 0, 0);
    border: none;
    font-size: 4vh;
    padding-left: 3vw;
}
textarea{
    font-size: 4vh;
    width: 90vw;
    border:none;
    resize: none;
    background-color: rgba(255, 0, 0, 0);
    color: var(--main-font-color);
}

textarea::-webkit-input-placeholder {
    color: var(--main-font-color);
}

.ueberschrift{
    height: 10vh;
}
.eingabe{
    height: 75vh;
}
.txts{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2vw 2vh;
}

.add{
    position:fixed;
    float: right;
    bottom: 5vh;
    right: 3vh;
    background-color: rgba(255, 166, 0, 0.717);
    padding: 3vh;
    border-radius: 50%;
    z-index: 1;
}
.add:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.choose{
    display: grid;
    position: relative;
    height: 3vh;
    margin: 1vh;
}
.choose span{
    position: relative;
    margin: -1vh;
}
.options{
    position: absolute;
    top: 1vh;
    right: 1vw;
    float: right;
}
.home{
    display: grid;
    align-items: center;
    justify-content: center;
}
.task{
    position: relative;
    width: 92vw;
    min-height: 15vh;
    background-color: var(--secondary-color);
    padding: 2vh 2vw;
    margin-top: 2vh;
    border-radius: 2vh;
    overflow: hidden;
}
.available-option{
    background-color: var(--secondary-color);
    display: none;
}
.close{
    display: none;
    position: relative;
    right: -4.5vh;
    margin: 1vh;
}

.title{
    overflow-wrap: break-word;
    margin: 1vh;
    padding: 1vh;
}
.tasktodo{
    overflow-wrap: break-word;
    margin: 1vh;
    padding: 1vh;
}
.date{
    margin: 1vh;
    padding: 1vh;
}
#noproblems{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 96vh;
}